html {
    font-size: 18px;
  }
  
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 680px) {
    html {
      font-size: 18px;
    }
  }
  
  /* Header */
  
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5.44rem;
    padding: 0 12%;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    font-family: 'Abril Fatface', cursive;
    font-size: .77rem;
    font-weight: bold;
  }
  
  .header .logo {
    flex-grow: 1;
    color: #ffb78c;
  }
  
  .header li {
    display: inline;
    padding-right: 2.22rem;
  }
  
  .header li a {
    text-decoration: none;
    color: #4a4a4a;
  }
  
  @media only screen and (max-width: 550px) {
    .header {
      flex-direction: column;
    }
  
    .header .logo {
      flex-grow: 0;
    }
  }
  
  /* Banner */
  
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80") center center no-repeat;
    background-size: cover;
    color: #ffb78c;
  }
  
  .banner h2 {
    padding: .55rem 0;
    border-top: 4px solid #ffb78c;
    border-bottom: 4px solid #ffb78c;
    font-size: 1.44rem;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Work Sans",Arial,sans-serif;
  }
  
  .banner h1 {
    padding-top: 1.11rem;
    font-size: 11rem;
    font-weight: 900;
    font-family: 'Abril Fatface', cursive,sans-serif;
  }
  
  @media only screen and (max-width: 750px) {
    .banner {
      height: 40rem;
    }
  
    .banner h1 {
      font-size: 8rem;
    }
  }
  
  @media only screen and (max-width: 530px) {
    .banner {
      height: 30rem;
    }
  
    .banner h1 {
      font-size: 6rem;
    }
  }
  
  /* Journal */
  
  .journal {
    padding: 0 25% 4rem 25%;
    background-color: rgb(254, 231, 218);
    color: #4a4a4a;
    line-height: 1.4;
    font-family: "Work Sans",serif;
  }

  
  
  /* .photo {
    width: 75%;
    padding: 1.11rem;
    border-radius: 5px;
    margin: 0 auto 4.44rem auto;
    background-color: white;
    font-family: Merriweather, serif;
  }
  
  .photo .image-container {
    overflow: hidden;
    margin-bottom: 1.11rem;
  }
  
  .photo .image-container img {
    width: 100%;
  }
  
  .photo .caption {
    font-style: italic;
  }
  
  .photo.first {
    position: relative;
    top: -2.77rem;
    margin-bottom: 1.67rem;
  }
  
  .journal p {
    padding-bottom: 2.77rem;
    font-size: 1.5rem;
  }
  
  .journal .first-letter {
    float: left;
    padding-right: 1.4rem;
    font-family: "Abril Fatface", serif;
    font-size: 7.44rem;
    color: #10b0d8;
    line-height: 0.87;
  }
  
  .quote {
    display: block;
    padding: 4.44rem 0;
    margin-bottom: 3.33rem;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    text-align: center;
    font-size: 3.55rem;
    font-weight: 800;
    line-height:1.2;
  } */
  
  @media only screen and (max-width: 680px) {
    .journal {
      padding: 0 10% 4rem 10%;
    }
  }






  .gallery *,
.gallery *:before,
.gallery *:after{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

/* div{
  font-family:Georgia,TimesNewRoman,'Times New Roman',Times,serif;
  font-size:14px;
  line-height:18px;
} */

.gallery{
  display:block;
  width:100%;
  margin:0 auto;
  overflow:hidden;
  max-width:960px;
}

.gallery .tile{
  display:block;
  width:100%;
  padding:0 0.5em 0.5em 0;
}

.gallery .tile .post{
  /* this is the content box; what follows is purely cosmetic */
  background-color:#003152;
  color:#f0f0f0;
  text-align:center;
  padding:6em 2em;
}

.gallery .tile.wide .post{
  /* as above this is just cosmetic */
    background-color:#08457e;
    background-image:-webkit-gradient(linear,left bottom,right top,color-stop(1%,#08457e),color-stop(52%,#005f9e),
        color-stop(52%,#08457e),color-stop(100%,#007cc2));
    background-image:-webkit-linear-gradient(45deg,#08457e 1%,#005f9e 52%,#08457e 52%,#007cc2 100%);
    background-image:-moz-linear-gradient(45deg,#08457e 1%,#005f9e 52%,#08457e 52%,#007cc2 100%);
    background-image:-ms-linear-gradient(45deg,#08457e 1%,#005f9e 52%,#08457e 52%,#007cc2 100%);
    background-image:-o-linear-gradient(45deg,#08457e 1%,#005f9e 52%,#08457e 52%,#007cc2 100%);
    background-image:linear-gradient(45deg,#08457e 1%,#005f9e 52%,#08457e 52%,#007cc2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#08457e',endColorstr='#007cc2',GradientType=1);
    color:#fff;
}

.gallery .tile.full .post{
  /* as above this is just cosmetic */
  background-color:#059029;
}

@media screen and (min-width:480px){
  .gallery .tile{
    width:50%;
    float:left;
  }
  .gallery .tile.wide,
  .gallery .tile.full{
    width:100%;
  }
}

@media screen and (min-width:720px){
  .gallery .tile{
    width:33.333%;
    float:left;
  }
  .gallery .tile.wide{
    width:66.667%;
  }
}

@media screen and (min-width:960px){
  .gallery .tile{
    width:25%;
    float:left;
  }
  .gallery .tile.wide{
    width:50%;
  }
}





  
  /* Footer */
  
  footer {
    display: flex;
    align-items: center;
    padding: 0 1%;
    background-color: #212121;
  }
  
  footer .image-container {
    width: 400px;
  }
  
  footer .content {
    flex-grow: 1;
    font-style: italic;
    color: #9b9b9b;
    line-height: 1.5;
  }
  
  footer p {
    padding-bottom: 1.66rem;
  }
  
  footer p:last-child {
    padding-bottom: 0;
  }
  
  footer .author {
    color: #ffb78c;
  }
  
  footer em {
    color: #cfcfcf;
  }
  
  @media only screen and (max-width: 750px) {
    footer {
      flex-direction: column;
      padding: 0 10% 2rem 10%;
    }
  
    footer .image-container {
      height: 300px;
      margin-bottom: 2rem;
      overflow: hidden;
    }
  }

  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color: #212121; /*#282d32*/
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }


 
 














  
 